$black-color: #202020;
$black-secondary-color: #333;
$white-color: #fff;
$platinum-color: #e5e5e5;
$grey-color: #cacaca;
$grey-secondary-color: #999;
$grey-light: #e9e9e9;
$orange-color: #FF6E30;
$orange-hover: #BC572B;
$orange-active: #CE4307;
$orange-focus: #FFD4C1;
$subheading-font-size: 24px;
$subheading-font-laptop: 22px;
$subheading-font-mobile: 18px;
$prime-font-size: 16px;
$prime-line-height: 22px;
$small-font-size: 14px;
$supersmall-font-size: 12px;
$small-line-height: 16px;
$mobile-line-height: 18px;
$subheading-line-height: 31px;
$gap: 30px;
